<section id="achieved" class="ts-block text-center text-white pb-0" data-bg-color="#1e1e27">
    <div class="container">

        <div class="ts-title">
            <h2>What We Have Achieved</h2>
        </div>

        <div class="row">
            <div class="col-md-8 offset-sm-2">
                <p class="mb-5 pb-3">
                    Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum tristique
                    finibus lorem. Nullam sed eleifend massa. Morbi nulla turpis, pharetra et nisl eu, pellentesque
                    molestie erat
                </p>
            </div>
        </div>

        <div>
           <!-- <img src="/assets/img/img__dashboard.png" class="img-fluid" alt="">-->
            
            
            <div style="width:75%;">
		<canvas id="canvas"></canvas>
	</div>
	<script>
		var config = {
			type: 'line',
			data: {
				labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
				datasets: [{
					label: 'dataset - big points',
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					fill: false,
					borderDash: [5, 5],
					pointRadius: 15,
					pointHoverRadius: 10,
				}, {
					label: 'dataset - individual point sizes',
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					backgroundColor: window.chartColors.blue,
					borderColor: window.chartColors.blue,
					fill: false,
					borderDash: [5, 5],
					pointRadius: [2, 4, 6, 18, 0, 12, 20],
				}, {
					label: 'dataset - large pointHoverRadius',
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					backgroundColor: window.chartColors.green,
					borderColor: window.chartColors.green,
					fill: false,
					pointHoverRadius: 30,
				}, {
					label: 'dataset - large pointHitRadius',
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
					backgroundColor: window.chartColors.yellow,
					borderColor: window.chartColors.yellow,
					fill: false,
					pointHitRadius: 20,
				}]
			},
			options: {
				responsive: true,
				legend: {
					position: 'bottom',
				},
				hover: {
					mode: 'index'
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				},
				title: {
					display: false,
					text: ''
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
	</script>
        </div>

    </div>
</section>