<section class="ts-block pt-0">
        <div class="container">

            <div class="ts-title">
                <h2>From The Blog</h2>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="ts-blog-thumb">
                        <a href="blog__detail.html" class="ts-blog-image ts-background">
                            <div class="ts-background-image ts-img-into-bg">
                                <img src="/assets/img/img__blog__thumb--01.jpg" alt="">
                            </div>
                        </a>
                        <h6>02-05-2019</h6>
                        <h4>
                            <a href="blog__detail.html">10 best design books</a>
                        </h4>
                        <p>
                            Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum
                            tristique eu finibus lorem.
                        </p>
                        <footer>
                            <a href="#" class="mr-3">
                                <i class="fa fa-comment"></i>
                                20
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                                46
                            </a>
                        </footer>
                    </div>
                </div>
                <!--end Blog post thumbnail-->

                <div class="col-md-4">
                    <div class="ts-blog-thumb">
                        <a href="blog__detail.html" class="ts-blog-image">
                            <div class="ts-background-image ts-img-into-bg">
                                <img src="/assets/img/img__blog__thumb--02.jpg" alt="">
                            </div>
                        </a>
                        <h6>24-04-2019</h6>
                        <h4>
                            <a href="blog__detail.html">How to be more creative</a>
                        </h4>
                        <p>
                            Quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum tristique eu finibus
                            lorem. Nullam sed eleifend massa.
                        </p>
                        <footer>
                            <a href="#" class="mr-3">
                                <i class="fa fa-comment"></i>
                                42
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                                38
                            </a>
                        </footer>
                    </div>
                </div>
                <!--end Blog post thumbnail-->

                <div class="col-md-4">
                    <div class="ts-blog-thumb">
                        <a href="blog__detail.html" class="ts-blog-image">
                            <div class="ts-background-image ts-img-into-bg">
                                <img src="/assets/img/img__blog__thumb--03.jpg" alt="">
                            </div>
                        </a>
                        <h6>17-04-2019</h6>
                        <h4>
                            <a href="blog__detail.html">Start your day well!</a>
                        </h4>
                        <p>
                            Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem.  Nullam sed eleifend
                            massa. Morbi nulla turpis
                        </p>
                        <footer>
                            <a href="#" class="mr-3">
                                <i class="fa fa-comment"></i>
                                18
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                                51
                            </a>
                        </footer>
                    </div>
                </div>
                <!--end Blog post thumbnail-->

            </div>

        </div>
    </section>
