<section class="ts-block text-white pb-0" data-bg-color="#191a21">
    <div class="container">

        <div class="ts-title text-center">
            <h2>Main Features</h2>
        </div>

        <div class="row">

            <div class="col-md-4 mb-5">
                <img src="/assets/img/img__mobile--02.png" class="mw-100" alt="">
            </div>

            <div class="col-md-6">
                <ul class="list list-text list-dashed">

                    <li data-animate="ts-fadeInRight">
                        <h5 class="opacity-30"><strong></strong></h5>
                        <h4>Ecommerce</h4>
                        <p>
                        
                            Why not have your website do all the work, all you have to do is dream
                            
                        </p>
                    </li>
                    <!--end Experience block-->

                    <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                        <h5 class="opacity-30"><strong></strong></h5>
                        <h4>IOT</h4>
                        <p>
                           Internet of Things or IOT for short is simplipy device you can talk to over a network usually the internet 
                        </p>
                    </li>
                    <!--end Experience block-->

                    <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                        <h5 class="opacity-30"><strong>Until Now</strong></h5>
                        <h4>Login System</h4>
                        <p>
                            Make subscripts for your site
                        </p>
                    </li>
                    <!--end Experience block-->

                </ul>
            </div>

        </div>
    </div>
</section>