<section class="ts-block">
    <div class="container">

        <div class="ts-title">
            <h2>My Experience</h2>
        </div>

        <div class="row">

            <div class="col-md-4 mb-5">
                <img src="/assets/img/img__dev1.jpg" class="w-100" alt="">
            </div>

            <div class="col-md-6">
                <ul class="list list-text list-dashed">
                     <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                        <h5 class="opacity-30"><strong>2013 - Onging</strong></h5>
                        <h4>Just In IT</h4>
                        <p>
                            · Developing software (web and mobile applications) and hardware (IOT) for customers.

· Administer and maintain platforms including Active Directory, Office 365, OneLogin, and others

· Writing REST API's for client services

· Training and development of IT systems

· Creating client relationships and testing of UX and UI for software made by others and by myself.
                        </p>
                    </li>
                    
     <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                        <h5 class="opacity-30"><strong>2020 - 2020</strong></h5>
                        <h4>Impact IT</h4>
                        <p>
                            · Smartphone support

· Giving computer support onsite and telephone technical support network design and configuration..

· Fixing printers, laptops and desktop computers.

· Advising staff students and faculty about any of their technology needs.
                        </p>
                    </li>
                    <!--end Experience block-->
                    <!--end Experience block-->

                    <li data-animate="ts-fadeInRight">
                        <h5 class="opacity-30"><strong>2016 - 2019</strong></h5>
                        <h4>Allied Wallet</h4>
                        <p>

                            · Administer and maintain platforms including Active Directory, Office 365, OneLogin, and others
                            
                            · Writing REST API's for client services
                            
                            · Training and development of IT systems
                            
                            · Creating client relationships and testing of UX and UI for software made by others and by myself.
                            
                            · Giving computer support onsite and telephone technical support network design and configuration.
                            
                            · Network installs from the ground up (cabling, trunking, workstations, patch panel, and server)
                            
                            · VPN tunnel for out of office staff
                            
                            · Migrating Server data from US to UK due to PCI and GPRS rules
                            
                            · Creating API documentation
                            
                            · Helping merchants on board on the Allied Wallet platform
                        </p>
                    </li>
                    <!--end Experience block-->

                   

                    <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                        <h5 class="opacity-30"><strong>2010-2013</strong></h5>
                        <h4>Hult Business School (www.hult.edu)</h4>
                        <p>
                            · Smartphone support

· Giving computer support onsite and telephone technical support network design and configuration..

· Fixing printers, laptops and desktop computers.

· Advising staff students and faculty about any of their technology needs.
                        </p>
                    </li>
                    <!--end Experience block-->

                </ul>
            </div>

        </div>
    </div>
</section>