<section class="ts-block">
    <div class="container">

        <div class="ts-title text-center">
            <h2>My Experience</h2>
        </div>

        <div class="row">

            <div class="col-md-4 mb-5">
                <img src="/assets/img/img__mobile--02.png" class="mw-100" alt="">
            </div>

            <div class="col-md-6">
                <ul class="list list-text list-dashed">

                    <li data-animate="ts-fadeInRight">
                        <h5 class="opacity-30"><strong>2016 - 2019</strong></h5>
                        <h4>Allied Wallet</h4>
                        <p>
                            Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh
                            condimentum tristique eu finibus lorem. Nullam sed eleifend massa.
                        </p>
                    </li>
                    <!--end Experience block-->

                    <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                        <h5 class="opacity-30"><strong>2013 - 2016</strong></h5>
                        <h4>Weston PhotoDesign</h4>
                        <p>
                            Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed
                            eleifend massa. Morbi nulla turpis, pharetra
                        </p>
                    </li>
                    <!--end Experience block-->

                    <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                        <h5 class="opacity-30"><strong>Until Now</strong></h5>
                        <h4>Freelance</h4>
                        <p>
                            Tristique eu finibus lorem. Nullam sed eleifend massa. Morbi nulla turpis,
                            pharetra et nisl eu, pellentesque molestie erat
                        </p>
                    </li>
                    <!--end Experience block-->

                </ul>
            </div>

        </div>

            <div class="col-md-6 mb-5">
                <img src="/assets/img/img__man-hat.jpg" class="w-100" alt="">
            </div>

            <div class="col-md-6">
                <ul class="list list-text list-dashed">

                    <li data-animate="ts-fadeInRight">
                        <h5 class="opacity-30"><strong>2010 - 2013</strong></h5>
                        <h4>Scream Interactive</h4>
                        <p>
                            Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh
                            condimentum tristique eu finibus lorem. Nullam sed eleifend massa.
                        </p>
                    </li>
                    <!--end Experience block-->

                    <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                        <h5 class="opacity-30"><strong>2013 - 2016</strong></h5>
                        <h4>Weston PhotoDesign</h4>
                        <p>
                            Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed
                            eleifend massa. Morbi nulla turpis, pharetra
                        </p>
                    </li>
                    <!--end Experience block-->

                    <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                        <h5 class="opacity-30"><strong>Until Now</strong></h5>
                        <h4>Freelance</h4>
                        <p class="mb-0">
                            Tristique eu finibus lorem. Nullam sed eleifend massa. Morbi nulla turpis,
                            pharetra et nisl eu, pellentesque molestie erat
                        </p>
                    </li>
                    <!--end Experience block-->

                </ul>
            </div>

        </div>
    </div>
</section>