<section id="features" class="ts-block text-center text-sm-left">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="ts-feature" data-animate="ts-fadeInUp">
                        <img src="/assets/img/icon__dashboard.png" alt="" class="mb-5">
                        <h4>Less Coding, More Fun</h4>
                        <p>Pellentesque vitae massa vel neque rhoncus posuere</p>
                    </div>
                </div>
                <!--end Feature-->

                <div class="col-md-4">
                    <div class="ts-feature" data-animate="ts-fadeInUp" data-delay=".1s">
                        <img src="/assets/img/icon__user.png" alt="" class="mb-5">
                        <h4>Know Your User</h4>
                        <p>Donec finibus a quam vel scelerisque. Donec varius</p>
                    </div>
                </div>
                <!--end Feature-->

                <div class="col-md-4">
                    <div class="ts-feature" data-animate="ts-fadeInUp" data-delay=".15s">
                        <img src="/assets/img/icon__envelope.png" alt="" class="mb-5">
                        <h4>Target The Audience</h4>
                        <p> Vestibulum scelerisque quam vitae arcu euismod, sit</p>
                    </div>
                </div>
                <!--end Feature-->

            </div>
        </div>

        <div class="ts-background">
            <div class="ts-background-image ts-background-repeat ts-opacity__10 ts-img-into-bg">
                <img src="/assets/img/bg__pattern--topo-white.png" alt="">
            </div>
        </div>
    </section>