<section id="features" class="ts-block text-white text-center text-sm-left">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="ts-feature">
                    <img src="/assets/img/icon__drone1.png" alt="" class="mb-5">
                    <h4>Less Work, More Fun</h4>
                    <p>Hardware and Software Prototyping</p>
                </div>
            </div>
            <!--end Feature-->

            <div class="col-md-4">
                <div class="ts-feature">
                    <img src="/assets/img/icon__app2.png" alt="" class="mb-5">
                    <h4>App Development</h4>
                    <p>From Wireframing to MVP to Full Deployment</p>
                </div>
            </div>
            <!--end Feature-->

            <div class="col-md-4">
                <div class="ts-feature">
                    <img src="/assets/img/icon__wes11b.png" alt="" class="mb-5">
                    <h4>SEO and Analytics</h4>
                    <p>Know Your Customers And Target The Audience</p>
                </div>
            </div>
            <!--end Feature-->

        </div>
    </div>

    <div class="ts-background ts-bg-black">
        <div class="ts-background-image ts-background-repeat ts-opacity__10 ts-img-into-bg">
            <img src="/assets/img/bg__pattern--topo-white.png" alt="">
        </div>
    </div>
</section>