 <footer id="ts-footer" class="ts-text-black" data-bg-color="#f9f9f9">
            <section id="ts-footer-main">
                <div class="container">

                    <div class="ts-title">
                        <h2>About Us</h2>
                    </div>

                    <div class="row">

                <div class="col-md-5">
                    <p>
                        Ever since I was young I wanted to work with computers. After watching films like <a href="https://en.wikipedia.org/wiki/WarGames">War Games</a> and <a href="https://en.wikipedia.org/wiki/Flight_of_the_Navigator">Flight of the Navigator</a>
                         have had the passion to work in Information Technology. But the love of coding didn't come until I got a Commodore 64 which I would learn to write code for fun and enjoyed.
                    </p>
                    <a href="#" class="ts-link ts-underline mb-5 mb-md-0 d-inline-block">More About Me</a>
                </div>

                <div class="col-sm-6 col-md-4">
                    <address class="ts-text-muted---black">
                        4-5 Bonhill St,
                        <br>
                        Shoreditch, London EC2A 4BX
                        <br>
                        <br>
                        <strong>Tel:</strong> <a href="tel:+447930512492">+44 7930-512492</a>
                        <br>
                        <strong>Email:</strong> <a href="/contact__default.html">ju3tin@hotmail.co.uk</a>
                        <br>
                        <strong>Skype:</strong> <a href="skype:ju3tin123?call">Justin Grierson</a>
                        <br>
                        <strong>WhatsApp:</strong> <a href="https://wa.me/+447930512492">
                        +44 7930-512492</a><br>
                        <strong>Linkedin:</strong> <a href="https://linkedin.com/in/justin-grierson">Justin Grierson</a>
                    </address>
                </div>

                <div class="col-sm-6 col-md-3">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="/index.html">Home</a>
                        <a class="nav-link" href="#">About Me</a>
                        <a class="nav-link" href="#">Portfolio</a>
                        <a class="nav-link" href="#">Services</a>
                        <a class="nav-link" href="#">Contact</a>
                    </nav>
                </div>

            </div>
                </div>

                <div class="ts-background ts-background-repeat ts-img-into-bg">
                    <img src="assets/img/bg__pattern--topo.png" alt="">
                </div>

            </section>

             <section>
        <div class="container py-5">
            <small>&#169; <span id="thisyear"></span> Justin Grierson</small>
        </div>
    </section>

        </footer>
      