<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="row items">
                <div class="col-xl-3 col-lg-3 col-md-5 col-12 item">
                    <!-- Begin company info -->
                    <div class="footer-company-info">
                        <div class="footer-company-top">
                            <a href="/" class="logo logo-ico-widht-text" title="JustInIT">
                                <img class="lazy logo-ico" data-src="img/logo-ico.png" width="36" height="35" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                <span class="logo-text">JustInIT</span>
                            </a>
                            <div class="footer-company-desc">
                                <p>Our company has been developing high-quality and reliable software for corporate needs since 2008. We are renowned professionals of software development.</p>
                            </div>
                        </div>
                        <ul class="footer-social-links">
                            <li>
                                <a href="#!" title="Facebook">
                                    <svg viewBox="0 0 320 512">
                                        <use xlink:href="img/sprite.svg#facebook-ico"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="img/sprite.svg#instagram-ico"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="img/sprite.svg#linkedin-in-ico"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter">
                                    <svg viewBox="0 0 512 512">
                                        <use xlink:href="img/sprite.svg#twitter-ico"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End company info -->
                </div>
                <div class="col-xl-2 offset-xl-1 col-md-3 col-5 col-lg-2 item">
                    <div class="footer-item">
                        <h4 class="footer-item-title">Menu</h4>
                        <nav class="footer-nav">
                            <ul class="footer-mnu">
                                <li><a href="about-us.html" class="hover-link" data-title="About Us"><span>About Us</span></a></li>
                                <li><a href="services.html" class="hover-link" data-title="Services"><span>Services</span></a></li>
                                <li><a href="pricing.html" class="hover-link" data-title="Pricing"><span>Pricing</span></a></li>
                                <li><a href="blog.html" class="hover-link" data-title="Blog"><span>Blog</span></a></li>
                                <li><a href="contact-us.html" class="hover-link" data-title="Contact Us"><span>Contact Us</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-7 item">
                    <div class="footer-item">
                        <h4 class="footer-item-title">What We Offer</h4>
                        <nav class="footer-nav">
                            <ul class="footer-mnu">
                                <li><a href="#!" class="hover-link" data-title="DB Management"><span>DB Management</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="IOS/MacOS"><span>IOS/MacOS</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Android Apps"><span>Android Apps</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Windows Apps"><span>Windows Apps</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="UX & UI"><span>UX & UI</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-4 col-lg-4 col-12 item">
                    <div class="footer-item">
                        <h4 class="footer-item-title">Our contacts</h4>
                        <ul class="footer-contacts">
                            <li>
                                <i class="material-icons md-22">location_on</i>
                                <div class="footer-contact-info">
                                    301 S Irving Blvd Los Angeles, CA 90020
                                </div>
                            </li>
                            <li>
                                <i class="material-icons md-22 footer-contact-tel">smartphone</i>
                                <div class="footer-contact-info">
                                    <a href="#!" class="formingHrefTel">+1 323-913-4688</a>, <a href="#!" class="formingHrefTel">+1 323-888-4554</a>
                                </div>
                            </li>
                            <li>
                                <i class="material-icons md-22 footer-contact-email">email</i>
                                <div class="footer-contact-info">
                                    <a href="mailto:mail@example.com">mail@example.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <h4 class="footer-item-title">Subscribe</h4>
                        <form action="#!" method="post" class="footer-subscribe">
                            <div class="form-field">
                                <label for="subscribe-email" class="form-field-label">Your email</label>
                                <input type="email" class="form-field-input" name="Subscribe_email" value="" autocomplete="off" required="required" id="subscribe-email">
                            </div>
                            <div class="form-btn">
                                <button type="submit" class="btn ripple">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between items">
                <div class="col-md-auto col-12 item">
                    <nav class="footer-links">
                        <ul>
                            <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-auto col-12 item">
                    <div class="copyright">© 2020 JustInIT. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End footer -->