 <header id="ts-hero" class="ts-block mt-5">

            <div class="container pt-2 pt-lg-5">

                <blockquote class="blockquote text-center">
                    <h2>Cras nisl lacus, tincidunt vitae neque vitae, interdum iaculis tortor. Orci varius natoque</h2>
                    <div class="blockquote-footer">Penatibus et magnis dis parturient montes nascetur</div>
                </blockquote>

            </div>

            <div class="ts-background">
                <div class="ts-background-image ts-background-repeat ts-img-into-bg">
                    <img src="assets/img/bg__pattern--dot.png" alt="">
                </div>
            </div>

        </header>