
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179388840-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-179388840-1');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="{{site.author}}">
    <meta name="keywords" content="{{site.keywords}}">
    <link rel="canonical" href="{{page.url | replace:'index.html','' | prepend: site.baseurl}}">
    <title>{{site.title}}{% if page.title %} | {{page.title}}{% endif %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/odometer-theme-default.css">
    <link rel="stylesheet" href="/assets/css/style1.css">
    {% if site.favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}{{site.favicon}}">
  {% endif %}
<meta property="og:locale" content="{{site.locale}}" />
<meta property="og:type" content="{% if page.type %}{{page.type}}{% else %}{{site.type}}{% endif %}" />
<meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}" />
<meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}" />
<meta property="og:url" content="{{site.baseurl}}{% if page.url %}{{page.url}}{% endif %}" />
<meta property="og:site_name" content="{{site.name}}" />
<meta property="article:section" content="Uncategorised" />
<meta property="article:published_time" content="" />
<meta property="article:modified_time" content="" />
<meta property="og:updated_time" content="" />
<meta property="og:image" content="{% if page.featimg %}{{site.baseurl}}{{page.featimg}}{% else %}{{site.baseurl}}{{site.siteimage}}{% endif %}" />
<meta property="og:image:secure_url" content="{% if page.featimg %}{{site.baseurl}}{{page.featimg}}{% else %}{{site.baseurl}}{{site.siteimage}}{% endif %}" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="800" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}" />
<meta name="twitter:title" content="{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}" />
<meta name="twitter:image" content="{% if page.featimg %}{{site.baseurl}}{{page.featimg}}{% else %}{{site.baseurl}}{{site.siteimage}}{% endif %}" />
<meta property="og:image" content="{% if page.smallimage %}{{site.baseurl}}{{page.smallimage}}{% else %}{{site.baseurl}}{{site.smallimage}}{% endif %}" />
<meta property="og:image:type" content="image/jpg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
<script src="/js/Chart.min.js"></script> 
<script src="/js/utils.js"></script>
</head>


