<head>

	<meta charset="utf-8">

	<title>{{ site.title }}</title>

	<meta name="description" content="Description">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
	
	<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700,700i%7CMontserrat:400,400i,500,500i,600,600i,700,700i&display=swap&subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/style.min.css">
	<script>
		// Don't force http when serving the website locally
		if (!(window.location.host.startsWith("127.0.0.1")) && (window.location.host.startsWith("localhost")) && (window.location.protocol != "https:"))
		  window.location.protocol = "https";
		</script>
</head>