<header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white">

            <div class="container">

                <h1 data-animate="ts-reveal">
                    <span class="wrapper">
                        <span>We Are</span>
                    </span>
                    <br>
                    <span class="wrapper">
                        <span data-ts-delay=".05s">Preus Interactive</span>
                    </span>
                </h1>

                <h4 data-animate="ts-fadeInUp" data-ts-delay=".1s">A digital agency based in London</h4>

                <div data-animate="ts-fadeInUp" data-ts-delay=".15s">
                    <a href="#" class="btn btn-outline-light btn-sm">Check Our Works</a>
                </div>

            </div>

            <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
                <div class="ts-video-bg ts-parallax-element" data-vide-bg="assets/video/Working-Space" data-vide-options="loop: true, muted: true, position: 50% 50%"></div>
            </div>

        </header>