<header id="ts-hero" class="ts-height--100vh text-white">

            <div class="owl-carousel ts-slider" data-owl-dots="1" data-owl-loop="1" data-owl-items="1">

                <div class="ts-slide ts-has-overlay">
                    <div class="container">
                        <h1>
                            <a href="#" class="ts-underline">Eatery Mobile App</a>
                        </h1>
                        <h4>Graphic Design, UX/UI, Developing</h4>
                        <a href="#" class="btn btn-outline-light">Show Details</a>
                    </div>
                    <div class="ts-background">
                        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
                            <img src="assets/img/img__work__bg--02.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--end Slide-->

                <div class="ts-slide ts-has-overlay">
                    <div class="container">
                        <h1>
                            <a href="#" class="ts-underline">Pandorff Redesign</a>
                        </h1>
                        <h4>Graphic Design, Branding</h4>
                        <a href="#" class="btn btn-outline-light">Show Details</a>
                    </div>
                    <div class="ts-background">
                        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
                            <img src="assets/img/img__work__bg--03.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--end Slide-->

                <div class="ts-slide ts-has-overlay">
                    <div class="container">
                        <h1>
                            <a href="#" class="ts-underline">RidiCool Band Album</a>
                        </h1>
                        <h4>Graphic Design</h4>
                        <a href="#" class="btn btn-outline-light">Show Details</a>
                    </div>
                    <div class="ts-background">
                        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
                            <img src="assets/img/img__work__bg--04.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--end Slide-->

            </div>

        </header>