<header id="ts-hero" class="ts-height--100vh text-white" >

    <div class="container">
        <div class="row ts-align__vertical">

            <div class="col-sm-6 col-md-7">
                <h1 data-animate="ts-reveal">
                    <span class="wrapper">
                        <span style="font-size: 4.4rem !important">Share Your Vision</span>
                    </span>
                </h1>

                <div  data-animate="ts-fadeInUp" data-ts-delay=".1s">
                    <p>
                    If you need an app or website I would love to work with you whatever your idea maybe. <br>Lets Build it together.    
                    
                    </p>
                </div>

                <div class="ts-group d-none d-md-block">
                    <a href="#" class="btn btn-light mr-2 my-2" data-animate="ts-fadeInUp" data-ts-delay=".15s">Contact Me</a>
                    <a href="#" class="btn btn-outline-light my-2" data-animate="ts-fadeInUp" data-ts-delay=".2s">Read More</a>
                </div>
            </div>

            <div class="col-sm-6 col-md-5">
                <div class="text-center d-none d-sm-block" data-animate="ts-fadeInRight" data-ts-delay=".25s">
                    <img src="/assets/img/img__mobile--01.png" class="ts-img-fluid py-5" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="ts-background ts-bg-black">
        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
            <img src="/assets/img/bg__gradient--dark.jpg" alt="">
        </div>
    </div>

</header>
