<header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white" >

        <div class="container">

            <h1 data-animate="ts-reveal">
                <span class="wrapper">
                    <span>I am a London Based</span>
                </span>
                <span class="wrapper">
                    <span data-ts-delay=".1s">Computer Developer</span>
                </span>
            </h1>

            <div data-animate="ts-fadeInUp" data-ts-delay=".15s">
                <h5 class="ts-opacity__60 mb-5">I can help you with any digital task</h5>
            </div>

            <div data-animate="ts-fadeInUp" data-ts-delay=".2s">
                <a href="#" class="btn btn-outline-light btn-sm">Read More</a>
            </div>

        </div>

        <div class="ts-background ts-bg-black" data-bg-parallax="scroll" data-bg-parallax-speed="3">
            <div class="ts-img-into-bg ts-background-image ts-img-into-bg ts-background-repeat ts-z-index__1 ts-parallax-element">
                <img src="/assets/img/bg__pattern--dot--white.png" alt="">
            </div>
            <div class="ts-img-into-bg ts-background-image ts-parallax-element">
                <img src="/assets/img/bg__photographer1.jpg" alt="">
            </div>
        </div>

    </header>