<header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white">

    <div class="container">
        <h4 class="mb-0" data-animate="ts-fadeInUp" data-ts-delay=".1s">When You Need More Than A Coder Or Designer</h4>

        <h1 data-animate="ts-reveal">
          <!--  <span class="wrapper">
                <span>When You Need More Than A Coder Or Designer</span>
            </span>
            <br>
           --> <span class="wrapper">
                <span data-ts-delay=".05s">Why Not Have A Great Developer</span>
            </span>
        </h1>

      <!--   <h4 class="mb-0" data-animate="ts-fadeInUp" data-ts-delay=".1s">A digital agency based in London</h4>
-->
    </div>

    <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div id="ts-particles" class="ts-background-image ts-parallax-element ts-z-index__1"></div>
        <div class="ts-img-into-bg ts-background-image ts-parallax-element">
            <img src="/assets/img/bg-office2.jpg" alt="">
        </div>
    </div>

</header>
