<main id="ts-content" class="text-white">

        <!--Works
        ============================================================================================================
        -->
        <section id="works" class="ts-block pb-5">
            <div class="container">

                <div class="ts-title">
                    <h3>Latest Works</h3>
                </div>

                <div class="row ts-gallery">

                    <div class="col-md-6">
                        <div class="ts-group">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item mb-3">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="/assets/img/img__work--01.jpg" alt="">
                                </div>
                            </a>
                            <div class="ts-gallery__item-description">
                                <h5 class="mb-0">
                                    <a href="#">Maracana Cups</a>
                                </h5>
                                <small class="ts-opacity__50">Branding</small>
                            </div>
                        </div>
                    </div>
                    <!--end gallery item-->

                    <div class="col-md-6">
                        <div class="ts-group">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item mb-3">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="/assets/img/img__work--02.jpg" alt="">
                                </div>
                            </a>
                            <div class="ts-gallery__item-description">
                                <h5 class="mb-0">
                                    <a href="#">Museum of Art Identity</a>
                                </h5>
                                <small class="ts-opacity__50">Identity</small>
                            </div>
                        </div>
                    </div>
                    <!--end gallery item-->

                    <div class="col-md-6">
                        <div class="ts-group">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item mb-3">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="/assets/img/img__work--07.jpg" alt="">
                                </div>
                            </a>
                            <div class="ts-gallery__item-description">
                                <h5 class="mb-0">
                                    <a href="#">UpDown Architects</a>
                                </h5>
                                <small class="ts-opacity__50">Branding</small>
                            </div>
                        </div>
                    </div>
                    <!--end gallery item-->

                    <div class="col-md-6">
                        <div class="ts-group">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item mb-3">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="/assets/img/img__work--09.jpg" alt="">
                                </div>
                            </a>
                            <div class="ts-gallery__item-description">
                                <h5 class="mb-0">
                                    <a href="#">Think Smart</a>
                                </h5>
                                <small class="ts-opacity__50">Product</small>
                            </div>
                        </div>
                    </div>
                    <!--end gallery item-->

                    <div class="col-md-4">
                        <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                            <div class="ts-background ts-img-into-bg">
                                <img src="/assets/img/img__work--03.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!--end gallery item-->

                    <div class="col-md-4">
                        <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                            <div class="ts-background ts-img-into-bg">
                                <img src="/assets/img/img__work--04.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!--end gallery item-->

                    <div class="col-md-4">
                        <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                            <div class="ts-background ts-img-into-bg">
                                <img src="/assets/img/img__work--08.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!--end gallery item-->

                </div>

                <div class="text-center my-5 py-5">
                    <a href="#" class="btn btn-outline-light">Show All Works</a>
                </div>

            </div>
        </section>

        <hr class="ts-hr-light">

        <!--Partners
        ============================================================================================================
        -->
        {% include partners.html %}
        <!--Features
        ============================================================================================================
        -->
        {% include features1a.html %}

        <!--Call to action
        ============================================================================================================
        -->
        {% include cta.html %}

    </main>