<main id="ts-content">

        <!--Blockquote
        ============================================================================================================
        -->
      {% include blockquote1.html %}

        <!--Works
        ============================================================================================================
        -->
       {% include works1.html %}

        <!--Features
        ============================================================================================================
        -->
       {% include features2a.html %}

        <!--Partners
        ============================================================================================================
        -->
       {% include partners1.html %}
        <!--Skills
        ============================================================================================================
        -->
        {% include skills2.html %}

        <!--Call to action
        ============================================================================================================
        -->
        {% include cta.html %}
        <!--Promo numbers
        ============================================================================================================
        -->
       {% include promo1.html %}

        <!--Our Experience
        ============================================================================================================
        -->
       {% include exper2.html %}
        <!--Blog
        ============================================================================================================
        -->
       {% include bloghtml.html %}
    </main>