<main id="ts-content">

    <!--Features
    ============================================================================================================
    -->
   {% include features1.html %}

    <!--Our Experience
    ============================================================================================================
    -->
   {% include exper1.html %}

    <!--Achieved
    ============================================================================================================
    -->
   {% include achieved.html %}

    <!--Blockquote
    ============================================================================================================
    -->
    {% include blockquote.html %}

    <!--Partners
    ============================================================================================================
    -->
    {% include partners.html %}

    <!--Call to action
    ============================================================================================================
    -->
    {% include cta.html %}

</main>