<main id="ts-content">

<!--Offices
============================================================================================================
-->
<section id="offices" class="ts-block ts-background-repeat">
<div class="container">

<div class="ts-title">
<h2>My Office</h2>
</div>

<div class="row">

<div class="col-sm-6 col-lg-4">

</div>
<!--end Office-->

<div class="col-sm-6 col-lg-4">
<h4 class="font-weight-bold">London</h4>
<address>
4-5 Bonhill St,
<br>
Shoreditch, EC2A 4BX
<br>
+44 7930-512492
<br>
<a href="mailto:ju3tin@hotmail.co.uk" class="ts-underline">ju3tin@hotmail.co.uk</a>
</address>
</div>
<!--end Office-->

<div class="col-sm-6 col-lg-4">

</div>
<!--end Office-->


<!--end Office-->

</div>
</div>

<div class="ts-background ts-img-into-bg ts-background-repeat">
<img src="assets/img/bg__pattern--dot.png" alt="">
</div>

</section>

<!--Social
============================================================================================================
-->
<section class="py-5 my-5">
<div class="container">

<div class="ts-title">
<h2>Social</h2>
</div>

<div class="d-block d-sm-flex justify-content-between">

<a href="https://www.facebook.com/justin.grierson.5/" class="ts-align__vertical py-2">
<div class="ts-circle__xs ts-bg-black text-white mr-3">
<i class="fab fa-facebook-f"></i>
</div>
<span>Facebook</span>
</a>

<a href="https://twitter.com/ju3t1ng" class="ts-align__vertical py-2">
<div class="ts-circle__xs ts-bg-black text-white mr-3">
<i class="fab fa-twitter"></i>
</div>
<span>Twitter</span>
</a>

<a href="https://www.linkedin.com/in/justin-grierson/" class="ts-align__vertical py-2">
<div class="ts-circle__xs ts-bg-black text-white mr-3">
<i class="fab fa-linkedin-in"></i>
</div>
<span>Linkedin</span>
</a>

<a href="https://www.instagram.com/ju3tin1/" class="ts-align__vertical py-2">
<div class="ts-circle__xs ts-bg-black text-white mr-3">
<i class="fab fa-instagram"></i>
</div>
<span>Instagram</span>
</a>

</div>

</div>
</section>


</main>
