<main id="ts-content">

        <!--Works
        ============================================================================================================
        -->
        <section id="works" class="ts-block">
            <div class="container">

                <div class="ts-title text-center">
                    <h2>My Works</h2>
                </div>

                <div class="row ts-gallery">

                    <div class="col-md-6">
                        <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                            <div class="ts-background ts-img-into-bg">
                                <img src="/assets/img/img__work--01.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!--end gallery item-->

                    <div class="col-md-6">
                        <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                            <div class="ts-background ts-img-into-bg">
                                <img src="/assets/img/img__work--02.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!--end gallery item-->

                    <div class="col-md-4">
                        <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                            <div class="ts-background ts-img-into-bg">
                                <img src="/assets/img/img__work--03.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!--end gallery item-->

                    <div class="col-md-4">
                        <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                            <div class="ts-background ts-img-into-bg">
                                <img src="/assets/img/img__work--04.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!--end gallery item-->

                    <div class="col-md-4">
                        <a href="portfolio__detail--default.html" class="card ts-gallery__item ts-half">
                            <div class="ts-background ts-img-into-bg">
                                <img src="/assets/img/img__work--05.jpg" alt="">
                            </div>
                        </a>
                        <a href="portfolio__detail--default.html" class="card ts-gallery__item ts-half">
                            <div class="ts-background ts-img-into-bg">
                                <img src="/assets/img/img__work--06.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!--end gallery item-->

                </div>

            </div>
        </section>

        <!--Skills
        ============================================================================================================
        -->
      {% include skills1.html %}

        <!--My Experience
        ============================================================================================================
        -->
      {% include exper.html %}

        <hr>

        <!--Partners
        ============================================================================================================
        -->
        {% include partners.html %}

        <!--Call to action
        ============================================================================================================
        -->
        {% include cta.html %}

    </main>
    <!--end #content-->