<main id="ts-content">

    <!--Blockquote
    ============================================================================================================
    -->

    {% include blockquote.html %}
   

    <!--Works
    ============================================================================================================
    -->
    {% include works.html %}

    <!--Features
    ============================================================================================================
    -->
   {% include features.html %}

    <!--Partners
    ============================================================================================================
    -->
    {% include partners.html %}

    <!--Skills
    ============================================================================================================
    -->
    {% include skills.html %}

    <!--Call to action
    ============================================================================================================
    -->
    {% include cta.html %}

    <!--Promo numbers
    ============================================================================================================
    -->
    {% include promo.html %}

    <!--Our Experience
    ============================================================================================================
    -->
   {% include exper.html %}

    <!--Blog
    ============================================================================================================
    -->
    {% include blog3a.html %}

</main>