<main id="ts-content">
<!--Works
============================================================================================================
-->
            <section id="works">

                <div class="container">
                    <div class="ts-masonry">

                        <!--Masonry Item-->
                        <a href="portfolio__detail--default.html" class="card ts-gallery__masonry ts-floated-description">
                            <img src="assets/img/img__masonry--01.jpg" alt="">
                            <div class="ts-gallery__item-description">
                                <h5>Photography</h5>
                                <h3>The Moments</h3>
                            </div>
                        </a>

                        <!--Masonry Item-->
                        <a href="portfolio__detail--default.html" class="card ts-gallery__masonry">
                            <img src="assets/img/img__masonry--02.jpg" alt="">
                            <div class="ts-gallery__item-description">
                                <h5>Branding</h5>
                                <h3>Perrier Refresh</h3>
                            </div>
                        </a>

                        <!--Masonry Item-->
                        <a href="portfolio__detail--default.html" class="card ts-gallery__masonry">
                            <img src="assets/img/img__masonry--03.jpg" alt="">
                            <div class="ts-gallery__item-description">
                                <h5>Painting</h5>
                                <h3>Zola</h3>
                            </div>
                        </a>

                        <!--Masonry Item-->
                        <a href="portfolio__detail--default.html" class="card ts-gallery__masonry">
                            <img src="assets/img/img__masonry--04.jpg" alt="">
                            <div class="ts-gallery__item-description">
                                <h5>Industrial Design</h5>
                                <h3>Aston Martin Reel</h3>
                            </div>
                        </a>

                        <!--Masonry Item-->
                        <a href="portfolio__detail--default.html" class="card ts-gallery__masonry">
                            <img src="assets/img/img__masonry--05.jpg" alt="">
                            <div class="ts-gallery__item-description">
                                <h5>Branding</h5>
                                <h3>Maracana Cups</h3>
                            </div>
                        </a>

                        <!--Masonry Item-->
                        <a href="portfolio__detail--default.html" class="card ts-gallery__masonry">
                            <img src="assets/img/img__masonry--06.jpg" alt="">
                            <div class="ts-gallery__item-description">
                                <h5>Photography</h5>
                                <h3>An Ordinary Day</h3>
                            </div>
                        </a>

                        <!--Masonry Item-->
                        <a href="portfolio__detail--default.html" class="card ts-gallery__masonry">
                            <img src="assets/img/img__masonry--07.jpg" alt="">
                            <div class="ts-gallery__item-description">
                                <h5>Product</h5>
                                <h3>Coffee Cups</h3>
                            </div>
                        </a>

                        <!--Masonry Item-->
                        <a href="portfolio__detail--default.html" class="card ts-gallery__masonry">
                            <img src="assets/img/img__masonry--08.jpg" alt="">
                            <div class="ts-gallery__item-description">
                                <h5>Photography</h5>
                                <h3>Architecture Pieces</h3>
                            </div>
                        </a>

                        <!--Masonry Item-->
                        <a href="portfolio__detail--default.html" class="card ts-gallery__masonry">
                            <img src="assets/img/img__masonry--09.jpg" alt="">
                            <div class="ts-gallery__item-description">
                                <h5>Product</h5>
                                <h3>AirPure</h3>
                            </div>
                        </a>

                    </div>
                </div>

            </section>

            <!--Call to action
            ============================================================================================================
            -->
            <section class="py-5 text-center ts-background-repeat" data-bg-image="assets/img/bg__pattern--dot.png">
                <div class="container py-5 my-5">

                    <h2 class="mb-5">Do You Love What You See?</h2>
<a href="#" class="btn btn-outline-dark">Contact Us</a>
</div>
</section>
</main>