
        <main id="ts-content">

            <!--Gallery Big
            ============================================================================================================
            -->
            <section id="about" class="py-5 ts-gallery">
                <div class="container pt-5">

                    <a href="assets/img/img__work--11.jpg" class="ts-gallery__item ts-gallery__item--big popup-image">
                        <div class="ts-background ts-img-into-bg">
                            <img src="assets/img/img__work--11.jpg" alt="">
                        </div>
                    </a>

                </div>

            </section>

            <!--Description
            ============================================================================================================
            -->
            <section class="ts-block pt-4">
                <div class="container">

                    <div class="ts-title">
                        <h1>StarCreative</h1>
                        <h3>Branding</h3>
                    </div>

                    <div class="row">

                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec nunc vitae
                                nibh congue pellentesque. Mauris scelerisque quam semper feugiat tincidunt. Pellentesque
                                a ullamcorper erat, id dapibus velit. Aliquam erat volutpat. Proin at sapien leo. Nullam
                                fermentum purus ac massa dignissim, in cursus turpis lobortis. Aliquam lacinia ante a
                                velit viverra scelerisque. Suspendisse nec dui sed tortor mollis rutrum nec at leo.
                            </p>
                        </div>

                        <div class="col-md-4">
                            <dl class="ts-description-list">
                                <dt>Client</dt>
                                <dd>Vertical Solutions</dd>
                                <dt>Date</dt>
                                <dd>03-12-2016</dd>
                                <dt>Website</dt>
                                <dd><a href="#" class="ts-underline">www.example.com</a></dd>
                                <dt>Share</dt>
                                <dd>
                                    <a href="#" class="px-1">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                    <a href="#" class="px-1">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                    <a href="#" class="px-1">
                                        <i class="fab fa-pinterest-square"></i>
                                    </a>
                                </dd>
                            </dl>
                        </div>

                    </div>

                </div>
            </section>

            <!--Gallery
            ============================================================================================================
            -->
            <section id="gallery" class="ts-block pt-5">
                <div class="container">

                    <div class="row ts-gallery">

                        <div class="col-md-6">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--01.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--02.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-4">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--03.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-4">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--04.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-4">
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item ts-half">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--05.jpg" alt="">
                                </div>
                            </a>
                            <a href="portfolio__detail--default.html" class="card ts-gallery__item ts-half">
                                <div class="ts-background ts-img-into-bg">
                                    <img src="assets/img/img__work--06.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                    </div>

                </div>
            </section>

            <!--Services
            ============================================================================================================
            -->
            <section id="services" class="ts-block py-5">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="ts-title">
                                <h2>Our Services</h2>
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <ul class="list-unstyled ts-column-count-2">
                                <li class="pb-1">Graphic Design</li>
                                <li class="pb-1">Web Design</li>
                                <li class="pb-1">Copywriting</li>
                                <li class="pb-1">Art Direction</li>
                                <li class="pb-1">Photography</li>
                                <li class="pb-1">Illustration</li>
                                <li class="pb-1">Motion Design</li>
                                <li class="pb-1">Branding</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>

            <!--Blockquote
            ============================================================================================================
            -->
            <section id="blockquote" class="ts-block text-center ts-background-repeat" data-bg-image="assets/img/bg__pattern--topo.png">
                <div class="container">

                    <blockquote class="blockquote">
                        <h2>Cras nisl lacus, tincidunt vitae neque vitae, interdum iaculis tortor. Orci varius natoque</h2>
                        <footer class="blockquote-footer">Peter Brown, Weston Interactive</footer>
                    </blockquote>

                </div>
            </section>

            <!--Partners
            ============================================================================================================
            -->
            <section id="partners" class="ts-block">
                <div class="container">

                    <div class="d-block d-md-flex justify-content-around align-items-center text-center ts-partners">

                        <a href="#">
                            <img src="assets/img/logo-01.png" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/img/logo-02.png" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/img/logo-03.png" alt="">
                        </a>

                    </div>
                </div>
            </section>

        </main>