<div id="main-navigation">
    <nav class="navbar navbar-dark">
        <ul class="navbar-nav">

            <!--Home
            ========================================================================================================
            -->
            <li class="nav-item">

                    <script type="text/javascript">
                        if(window.location.href === "https://ju3tin.github.io/index4a.html"||"https://ju3tin.github.io/index4a") {
                            document.write('<a class="nav-link active" href="#collapse__home" data-toggle="collapse" role="button">Home</a>')
                        } else {
                            document.write(' <a class="nav-link" href="#collapse__home" data-toggle="collapse" role="button">Home</a>')
                        }
                    </script>
                 <div class="collapse" id="collapse__home">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">Creative</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/index__app.html">App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/index__freelancer.html">Freelancer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index__portfolio.html">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index__slider.html">Slider</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index__video.html">Video</a>
                        </li>

                    </ul>
                </div>
            </li>

            <!--About us
            ========================================================================================================
            -->
            <li class="nav-item">
                <a class="nav-link" href="#collapse__about" data-toggle="collapse" role="button">About</a>
                <div class="collapse" id="collapse__about">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link" href="about__default.html">Default</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about__freelancer.html">Freelancer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about__minimal.html">Minimal</a>
                        </li>

                    </ul>
                </div>
            </li>

            <!--Portfolio
            ========================================================================================================
            -->
            <li class="nav-item">
                <a class="nav-link" href="#collapse-portfolio" data-toggle="collapse" role="button">Portfolio</a>
                <div class="collapse" id="collapse-portfolio">
                    <ul class="nav flex-column">

                        <!--Single-->

                        <li class="nav-item">
                            <a class="nav-link" href="#collapse__portfolio--detail" data-toggle="collapse" role="button">Detail</a>
                            <div class="collapse" id="collapse__portfolio--detail">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio__detail--default.html">Default</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio__detail--slider.html">Slider</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio__detail--minimal.html">Minimal</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio__detail--case-study.html">Case Study</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio__detail--vertical.html">Vertical</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!--Columns-->

                        <li class="nav-item">
                            <a class="nav-link" href="#collapse__portfolio--columns" data-toggle="collapse" role="button">Columns</a>
                            <div class="collapse" id="collapse__portfolio--columns">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio__columns--2.html">2 Columns</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio__columns--3.html">3 Columns</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/portfolio__columns--4.html">4 Columns</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio__columns--2--full-width.html">Full Width 2 Columns</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio__columns--3--full-width.html">Full Width 3 Columns</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="portfolio__columns--4--full-width.html">Full Width 4 Columns</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!--Masonry-->

                        <li class="nav-item">
                            <a class="nav-link" href="portfolio__masonry.html">Masonry</a>
                        </li>

                    </ul>
                </div>
            </li>

            <!--Blog
            ========================================================================================================
            -->
            <li class="nav-item">
                <a class="nav-link" href="#collapse__blog" data-toggle="collapse" role="button">Blog</a>
                <div class="collapse" id="collapse__blog">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link active" href="blog__list.html">Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog__detail.html">Post Detail</a>
                        </li>

                    </ul>
                </div>
            </li>

            <!--Contact
            ========================================================================================================
            -->
            <li class="nav-item">
                <a class="nav-link" href="#collapse__contact" data-toggle="collapse" role="button">Contact</a>
                <div class="collapse" id="collapse__contact">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="contact__default.html">Default</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact__left-map.html">Left Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact__minimal.html">Minimal</a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </nav>
</div>