<section id="partners" class="py-5" data-bg-color="#fafafa">
        <div class="container py-5">
            <div class="d-block d-md-flex justify-content-around align-items-center text-center ts-partners">

                <a href="#">
                    <img src="/assets/img/logo-01.png" alt="">
                </a>
                <a href="#">
                    <img src="/assets/img/logo-02.png" alt="">
                </a>
                <a href="#">
                    <img src="/assets/img/logo-03.png" alt="">
                </a>

            </div>
        </div>
    </section>
