<section id="partners" class="py-5" data-bg-color="#fafafa">
    <div class="container py-5">
        <div class="d-block d-md-flex justify-content-around align-items-center text-center ts-partners">

            <a href="#">
                <img src="/assets/img/google.gif" width="106px" alt="">
            </a>
            <a href="#">
                <img src="/assets/img/microsoft.gif" width="106px" alt="">
            </a>
            <a href="#">
                <img src="/assets/img/watson2.gif" width="106px" alt="">
            </a>

        </div>
    </div>
</section>