 <section class="ts-block ts-background-repeat" data-bg-image="/assets/img/bg__pattern--topo.png">
                <div class="container ts-promo-numbers">
                    <div class="row">

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="208">0</figure>
                                <h5>HACKATHONS</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="68">0</figure>
                                <h5>PROJECTS</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="43">0</figure>
                                <h5>CLIENTS</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="12">0</figure>
                                <h5>Years Experience</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                    </div>
                </div>
            </section>

           