			<!-- Begin latest news -->
			<section class="section section-bg">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="wrapp-section-title section-title-center">
								<div class="section-subtitle">More info about</div>
								<h2 class="section-title">Latest News</h2>
							</div> 
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin news item -->
							<article class="news-item item-style">
								<a href="blog-post.html" class="news-item-img">
									<img data-src="img/news-img-1.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">07/01/2020</div>
									<h4 class="news-item-title item-title">
										<a href="blog-post.html" title="Benefits Of Async/Await">Benefits Of Async/Await</a>
									</h4>
									<div class="news-item-desc">
										<p>Asynchronous functions are a good and bad thing in JavaScript.</p>
									</div>
								</div>
							</article><!-- End news item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin news item -->
							<article class="news-item item-style">
								<a href="blog-post.html" class="news-item-img">
									<img data-src="img/news-img-2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">05/01/2020</div>
									<h4 class="news-item-title item-title">
										<a href="blog-post.html" title="Key Considerations Of IPaaS">Key Considerations Of IPaaS</a>
									</h4>
									<div class="news-item-desc">
										<p>Digital transformation requires cloud appropriate adoption</p>
									</div>
								</div>
							</article><!-- End news item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin news item -->
							<article class="news-item item-style">
								<a href="blog-post.html" class="news-item-img">
									<img data-src="img/news-img-3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">01/01/2020</div>
									<h4 class="news-item-title item-title">
										<a href="blog-post.html" title="Hibernate Query Language">Hibernate Query Language</a>
									</h4>
									<div class="news-item-desc">
										<p>In this tutorial, we will discuss the Hibernate Query Language. </p>
									</div>
								</div>
							</article><!-- End news item -->
						</div>
						<div class="col-12">
							<div class="section-btns justify-content-center">
								<a href="blog.html" class="btn btn-widht-ico btn-w240 ripple">
									<span>See All News</span>
									<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section><!-- End latest news -->