			<!-- Begin main banner -->
			<div class="section-bg main-banner">
				<div class="main-banner-slider flickity-dots-absolute" data-flickity='{ "bgLazyLoad": 1, "bgLazyLoad": true, "fade": true, "prevNextButtons": false, "autoPlay": 7000, "pauseAutoPlayOnHover": false }'>
					<div class="main-banner-slider-item" data-flickity-bg-lazyload="img/main-banner-img1.jpg">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="main-banner-content">
										<h1 class="main-banner-title">IT Solutions for Your Business</h1>
										<div class="main-banner-desc">
											<p>On this template you will be able to create a site for your business. The template has many different blocks from which you can create your own unique site.</p>
										</div>
										<div class="main-banner-btns">
											<a href="#!" class="btn btn-widht-ico btn-small ripple">
												<span>Learn More</span>
												<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
											<a href="#!" class="btn btn-widht-ico btn-border btn-small ripple">
												<span>Get in Touch</span>
												<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="main-banner-slider-item" data-flickity-bg-lazyload="img/main-banner-img2.jpg">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="main-banner-content">
										<h2 class="main-banner-title">IT Solutions for Your Business</h2>
										<div class="main-banner-desc">
											<p>Since our establishment, we have been delivering high-quality and sustainable software solutions for corporate business purposes.</p>
										</div>
										<div class="main-banner-btns">
											<a href="#!" class="btn btn-widht-ico btn-small ripple">
												<span>Learn More</span>
												<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
											<a href="#!" class="btn btn-widht-ico btn-border btn-small">
												<span>Get in Touch</span>
												<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="main-banner-slider-item" data-flickity-bg-lazyload="img/main-banner-img3.jpg">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="main-banner-content">
										<h2 class="main-banner-title">IT Solutions for Your Business</h2>
										<div class="main-banner-desc">
											<p>On this template you will be able to create a site for your business. The template has many different blocks from which you can create your own unique site.</p>
										</div>
										<div class="main-banner-btns">
											<a href="#!" class="btn btn-widht-ico btn-small ripple">
												<span>Learn More</span>
												<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
											<a href="#!" class="btn btn-widht-ico btn-border btn-small">
												<span>Get in Touch</span>
												<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End main banner -->