			<!-- Begin reviews -->
			<section class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="wrapp-section-title section-title-center">
								<div class="section-subtitle">Reviews from our clients</div>
								<h2 class="section-title">What People Say</h2>
							</div> 
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin reviews item -->
							<div class="reviews-item item-style">
								<div class="reviews-item-header">
									<div class="reviews-item-img">
										<img data-src="img/auth-img-1.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
									</div>
									<div class="reviews-item-info">
										<h4 class="reviews-item-title item-title">Catherine Williams</h4>
										<div class="reviews-item-position">Regular client</div>
									</div>
								</div>
								<div class="reviews-item-text">
									<p>PathSoft offers a high caliber of resources skilled in Microsoft Azure.NET, mobile and Quality Assurance. They became our true business partners over the past three years.</p>
								</div>
							</div><!-- End reviews item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin reviews item -->
							<div class="reviews-item item-style">
								<div class="reviews-item-header">
									<div class="reviews-item-img">
										<img data-src="img/auth-img-2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
									</div>
									<div class="reviews-item-info">
										<h4 class="reviews-item-title item-title">Rupert Wood</h4>
										<div class="reviews-item-position">Regular client</div>
									</div>
								</div>
								<div class="reviews-item-text">
									<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit consequuntur sequi eos beatae deleniti culpa cupiditate rerum. Similique, blanditiis rem perspiciatis fugiat voluptatem quas officiis ducimus reprehenderit.</p>
								</div>
							</div><!-- End reviews item -->
						</div>
						<div class="col-lg-4 col-md-12 col-12 item">
							<!-- Begin reviews item -->
							<div class="reviews-item item-style">
								<div class="reviews-item-header">
									<div class="reviews-item-img">
										<img data-src="img/auth-img-3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
									</div>
									<div class="reviews-item-info">
										<h4 class="reviews-item-title item-title">Samantha Brown</h4>
										<div class="reviews-item-position">Regular client</div>
									</div>
								</div>
								<div class="reviews-item-text">
									<p>We sincerely hope that each and every user entering our website will find exactly. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
								</div>
							</div><!-- End reviews item -->
						</div>
						<div class="col-12">
							<div class="section-btns justify-content-center">
								<a href="testimonials.html" class="btn btn-widht-ico btn-w240 ripple">
									<span>See All Reviews</span>
									<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section><!-- End reviews -->