			<!-- Begin team -->
			<section class="section">
				<div class="container">
					<div class="row items">
						<div class="col-12">
							<div class="wrapp-section-title section-title-center">
								<div class="section-subtitle">Who we are</div>
								<h2 class="section-title">Meet The Team</h2>
							</div> 
						</div>
						<div class="col-lg-3 col-sm-6 col-12 item">
							<!-- Begin team item -->
							<div class="team-item item-style">
								<div class="team-item-img">
									<img data-src="img/team-img-1.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="team-item-info">
									<h4 class="team-item-title item-title">Mary Lee</h4>
									<div class="team-item-position">Software Developer</div>
									<ul class="team-item-social-links">
										<li>
											<a href="#!" title="Facebook">
												<svg viewBox="0 0 320 512"><use xlink:href="img/sprite.svg#facebook-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Instagram">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#instagram-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="LinkedIn">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#linkedin-in-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Twitter">
												<svg viewBox="0 0 512 512"><use xlink:href="img/sprite.svg#twitter-ico"></use></svg>
											</a>
										</li>
									</ul>
								</div>
							</div><!-- End team item -->
						</div>
						<div class="col-lg-3 col-sm-6 col-12 item">
							<!-- Begin team item -->
							<div class="team-item item-style">
								<div class="team-item-img">
									<img data-src="img/team-img-2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="team-item-info">
									<h4 class="team-item-title item-title">Ryan Wilson</h4>
									<div class="team-item-position">CEO</div>
									<ul class="team-item-social-links">
										<li>
											<a href="#!" title="Facebook">
												<svg viewBox="0 0 320 512"><use xlink:href="img/sprite.svg#facebook-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Instagram">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#instagram-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="LinkedIn">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#linkedin-in-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Twitter">
												<svg viewBox="0 0 512 512"><use xlink:href="img/sprite.svg#twitter-ico"></use></svg>
											</a>
										</li>
									</ul>
								</div>
							</div><!-- End team item -->
						</div>
						<div class="col-lg-3 col-sm-6 col-12 item">
							<!-- Begin team item -->
							<div class="team-item item-style">
								<div class="team-item-img">
									<img data-src="img/team-img-3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="team-item-info">
									<h4 class="team-item-title item-title">Sam Robinson</h4>
									<div class="team-item-position">Senior Developer</div>
									<ul class="team-item-social-links">
										<li>
											<a href="#!" title="Facebook">
												<svg viewBox="0 0 320 512"><use xlink:href="img/sprite.svg#facebook-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Instagram">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#instagram-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="LinkedIn">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#linkedin-in-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Twitter">
												<svg viewBox="0 0 512 512"><use xlink:href="img/sprite.svg#twitter-ico"></use></svg>
											</a>
										</li>
									</ul>
								</div>
							</div><!-- End team item -->
						</div>
						<div class="col-lg-3 col-sm-6 col-12 item">
							<!-- Begin team item -->
							<div class="team-item item-style">
								<div class="team-item-img">
									<img data-src="img/team-img-4.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="team-item-info">
									<h4 class="team-item-title item-title">Jill Peterson</h4>
									<div class="team-item-position">Senior Developer</div>
									<ul class="team-item-social-links">
										<li>
											<a href="#!" title="Facebook">
												<svg viewBox="0 0 320 512"><use xlink:href="img/sprite.svg#facebook-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Instagram">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#instagram-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="LinkedIn">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#linkedin-in-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Twitter">
												<svg viewBox="0 0 512 512"><use xlink:href="img/sprite.svg#twitter-ico"></use></svg>
											</a>
										</li>
									</ul>
								</div>
							</div><!-- End team item -->
						</div>
					</div>
				</div>
			</section><!-- End team -->