<!-- Begin counter section -->
<section class="section">
    <div class="container">
        <div class="row spincrement-container">
            <div class="col-xl-5 offset-xl-2 col-lg-6 offset-lg-1 col-12">
                <div class="main-counter">
                    <div class="main-counter-item">
                        <div class="main-counter-item-center">
                            <div>
                                <div class="main-counter-numb spincrement" data-from="0" data-to="10">0</div>
                                <div class="main-counter-title">Years <br> Of Experience</div>
                            </div>
                        </div>
                        <div class="main-counter-item-circ"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-lg-3 offset-lg-1 col-12 counter-items items">
                <div class="counter-item item">
                    <div class="counter-item-numb"><span class="spincrement" data-from="0" data-to="2">0</span>K</div>
                    <h4 class="counter-item-title">Аpps Developed</h4>
                </div>
                <div class="counter-item item">
                    <div class="counter-item-numb spincrement" data-from="0" data-to="40">0</div>
                    <h4 class="counter-item-title">Consultans</h4>
                </div>
                <div class="counter-item item">
                    <div class="counter-item-numb spincrement" data-from="0" data-to="160">0</div>
                    <h4 class="counter-item-title">Employers</h4>
                </div>
            </div>
        </div>
    </div>
</section><!-- End counter section -->
