			<!-- Begin why choose us -->
			<section class="section section-bg">
				<div class="container">
					<div class="row items">
						<div class="col-12">
							<div class="wrapp-section-title section-title-center">
								<div class="section-subtitle">some reasons</div>
								<h2 class="section-title">Why Choose Us</h2>
							</div> 
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin choose us item -->
							<div class="advantages-item">
								<div class="advantages-item-count">01</div>
								<div class="advantages-item-info">
									<h4 class="advantages-item-title">High Quality Hardware</h4>
									<div class="advantages-item-desc">
										<p>We use top-notch hardware to develop the most efficient apps for our customers</p>
									</div>
								</div>
							</div><!-- End choose us item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin choose us item -->
							<div class="advantages-item">
								<div class="advantages-item-count">02</div>
								<div class="advantages-item-info">
									<h4 class="advantages-item-title">Dedicated 24\7 Support</h4>
									<div class="advantages-item-desc">
										<p>You can rely on our 24/7 tech support that will gladly solve any app issue you may have.</p>
									</div>
								</div>
							</div><!-- End choose us item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin choose us item -->
							<div class="advantages-item">
								<div class="advantages-item-count">03</div>
								<div class="advantages-item-info">
									<h4 class="advantages-item-title">30-Day Money-back Guarantee</h4>
									<div class="advantages-item-desc">
										<p>If you are not satisfied with our apps, we will return your money in the first 30 days.</p>
									</div>
								</div>
							</div><!-- End choose us item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin choose us item -->
							<div class="advantages-item">
								<div class="advantages-item-count">04</div>
								<div class="advantages-item-info">
									<h4 class="advantages-item-title">Agile and Fast Working Style</h4>
									<div class="advantages-item-desc">
										<p>This type of approach to our work helps our specialists to quickly develop better apps.</p>
									</div>
								</div>
							</div><!-- End choose us item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin choose us item -->
							<div class="advantages-item">
								<div class="advantages-item-count">05</div>
								<div class="advantages-item-info">
									<h4 class="advantages-item-title">Some Apps <br> are Free</h4>
									<div class="advantages-item-desc">
										<p>We also develop free apps that can be downloaded online without any payments.</p>
									</div>
								</div>
							</div><!-- End choose us item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin choose us item -->
							<div class="advantages-item">
								<div class="advantages-item-count">06</div>
								<div class="advantages-item-info">
									<h4 class="advantages-item-title">High Level of Usability</h4>
									<div class="advantages-item-desc">
										<p>All our products have high usability allowing users to easily operate the apps.</p>
									</div>
								</div>
							</div><!-- End choose us item -->
						</div>
					</div>
				</div>
			</section><!-- End why choose us -->