			<!-- Begin latest projects -->
			<section class="section section-projects section-overflow-hidden section-bg">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="wrapp-section-title section-title-center">
								<div class="section-subtitle">Our works</div>
								<h2 class="section-title">Latest Projects</h2>
							</div> 
						</div>
						<div class="col-12">
							<div class="section-nav">
								<ul class="section-nav-list project-nav-list">
									<li class="active" data-filter="*">All</li>
									<li data-filter=".project-mobile-apps">MOBILE APPS</li>
									<li data-filter=".project-custom-software">CUSTOM SOFTWARE</li>
									<li data-filter=".project-qa-testing">QA & TESTING</li>
									<li data-filter=".project-ux-design">UX AND DESIGN</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row" id="projects-container">
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col project-ux-design">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-1.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">MPlanner</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">WeatherNow</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col project-custom-software project-qa-testing">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">Langer Messenger</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col project-mobile-apps">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-4.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">Mobile Finance</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col project-qa-testing">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-5.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">RaptCash</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col project-mobile-apps project-ux-design project-qa-testing">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-6.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">Search by photo</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="section-btns justify-content-center">
								<a href="#!" class="btn btn-widht-ico btn-w240 ripple">
									<span>See All Projects</span>
									<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section><!-- End latest projects -->