<section id="works">
    <div class="container-fluid px-0">

        <div class="row no-gutters ts-gallery">

            <div class="col-md-6 col-lg-4">
                <a href="/assets/img/img__work__thumb--01a.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-source="asd" title="sdfdsf <a href=&quot;dfdf&quot;>wer</a>" data-animate="ts-fadeInUp">
                    <div class="ts-gallery__item-description">
                        <h5>Photography</h5>
                        <h3>The Moments</h3>
                    </div>
                    <div class="ts-background ts-img-into-bg">
                        <img src="/assets/img/img__work__thumb--01a.jpg" alt="">
                    </div>
                </a>
            </div>
            <!--end gallery item-->

            <div class="col-md-6 col-lg-4">
                <a href="/assets/img/img__work__thumb--02a.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-source="asd" title="sdfdsf <a href=&quot;dfdf&quot;>wer</a>" data-animate="ts-fadeInUp" data-delay=".1s">
                    <div class="ts-gallery__item-description">
                        <h5>Presention</h5>
                        <h3>Google Campus</h3>
                    </div>
                    <div class="ts-background ts-img-into-bg">
                        <img src="/assets/img/img__work__thumb--02a.jpg" alt="">
                    </div>
                </a>
            </div>
            <!--end gallery item-->

            <div class="col-md-6 col-lg-4">
                <a href="/assets/img/img__work__thumb--03a.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-source="asd" title="sdfdsf <a href=&quot;dfdf&quot;>wer</a>"  data-animate="ts-fadeInUp" data-delay=".15s">
                    <div class="ts-gallery__item-description">
                        <h5>Last Minute</h5>
                        <h3>Code Editing</h3>
                    </div>
                    <div class="ts-background ts-img-into-bg">
                        <img src="/assets/img/img__work__thumb--03a.jpg" alt="">
                    </div>
                </a>
            </div>
            <!--end gallery item-->

            <div class="col-md-6 col-lg-4">
                <a href="/assets/img/img__work__thumb--04a.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-source="asd" title="sdfdsf <a href=&quot;dfdf&quot;>wer</a>" data-animate="ts-fadeInUp" data-delay=".2s">
                    <div class="ts-gallery__item-description">
                        <h5>Hackathon</h5>
                        <h3>Science Museum</h3>
                    </div>
                    <div class="ts-background ts-img-into-bg">
                        <img src="/assets/img/img__work__thumb--04a.jpg" alt="">
                    </div>
                </a>
            </div>
            <!--end gallery item-->

            <div class="col-md-6 col-lg-4">
                <a href="/assets/img/img__work__thumb--05a.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-source="asd" title="sdfdsf <a href=&quot;dfdf&quot;>wer</a>" data-animate="ts-fadeInUp" data-delay=".25s">
                    <div class="ts-gallery__item-description">
                        <h5>Hardware Development</h5>
                        <h3>Prototyping</h3>
                    </div>
                    <div class="ts-background ts-img-into-bg">
                        <img src="/assets/img/img__work__thumb--05a.jpg" alt="">
                    </div>
                </a>
            </div>
            <!--end gallery item-->

            <div class="col-md-6 col-lg-4">
                <a href="/assets/img/img__work__thumb--06a.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-source="asd" title="sdfdsf <a href=&quot;dfdf&quot;>wer</a>" data-animate="ts-fadeInUp" data-delay=".3s">
                    <div class="ts-gallery__item-description">
                        <h5>Games Development</h5>
                        <h3>Prototyping</h3>
                    </div>
                    <div class="ts-background ts-img-into-bg">
                        <img src="/assets/img/img__work__thumb--06a.jpg" alt="">
                    </div>
                </a>
            </div>
            <!--end gallery item-->

        </div>
    </div>
</section>
