
<!DOCTYPE html>
<html lang="en">

	{% include header1b.html %}

<body>

	<main class="main">
		
		<div class="main-inner">

            {% include nav1.html %}
			
            {% include header1a.html %}

            {% include sectionnews2.html %}

            {% include sectionnews3.html %}


            {% include sectionnews4.html %}


            {% include sectionnews5.html %}

            {% include sectionnews6.html %}


            {% include sectionnews7.html %}


            {% include sectionnews8.html %}

            {% include sectionnews.html %}

		</div>

		<!-- Begin footer -->
        {% include footer1a.html %}

	</main><!-- End main -->

    {% include scripts2a.html %}

    {% include scripts1a.html %}
	
</body>
</html>