
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">

	<title>IT Solutions for You Business</title>

	<meta name="description" content="Description">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
	
	<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700,700i%7CMontserrat:400,400i,500,500i,600,600i,700,700i&display=swap&subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/style.min.css">

</head>

<body>

	<main class="main">
		
		<div class="main-inner">

            {% include nav1.html %}
			
            {% include header1a.html %}

            {% include sectionnews2.html %}

            {% include sectionnews3.html %}


            {% include sectionnews4.html %}

            
            {% include sectionnews5.html %}

			<!-- Begin latest projects -->
			<section class="section section-projects section-overflow-hidden section-bg">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="wrapp-section-title section-title-center">
								<div class="section-subtitle">Our works</div>
								<h2 class="section-title">Latest Projects</h2>
							</div> 
						</div>
						<div class="col-12">
							<div class="section-nav">
								<ul class="section-nav-list project-nav-list">
									<li class="active" data-filter="*">All</li>
									<li data-filter=".project-mobile-apps">MOBILE APPS</li>
									<li data-filter=".project-custom-software">CUSTOM SOFTWARE</li>
									<li data-filter=".project-qa-testing">QA & TESTING</li>
									<li data-filter=".project-ux-design">UX AND DESIGN</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row" id="projects-container">
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col project-ux-design">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-1.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">MPlanner</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">WeatherNow</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col project-custom-software project-qa-testing">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">Langer Messenger</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col project-mobile-apps">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-4.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">Mobile Finance</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col project-qa-testing">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-5.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">RaptCash</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12 item project-col project-mobile-apps project-ux-design project-qa-testing">
							<!-- Begin project item -->
							<div class="project-item">
								<div class="project-item-card project-item-card-front">
									<img data-src="img/project-img-6.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="project-item-card project-item-card-back">
									<div class="project-item-card-center">
										<h5 class="project-item-title">Search by photo</h5>
										<div class="project-item-desc">
											<p>We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
										</div>
										<div class="wrapp-btn-circl-arrow justify-content-center">
											<a href="single-project.html" class="btn-circl-arrow btn-circl-arrow-white">
												<svg viewBox="0 0 13 9" width="13px" height="9px"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
											</a>
										</div>
									</div>
								</div>
							</div><!-- End project item -->
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="section-btns justify-content-center">
								<a href="#!" class="btn btn-widht-ico btn-w240 ripple">
									<span>See All Projects</span>
									<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section><!-- End latest projects -->

			<!-- Begin team -->
			<section class="section">
				<div class="container">
					<div class="row items">
						<div class="col-12">
							<div class="wrapp-section-title section-title-center">
								<div class="section-subtitle">Who we are</div>
								<h2 class="section-title">Meet The Team</h2>
							</div> 
						</div>
						<div class="col-lg-3 col-sm-6 col-12 item">
							<!-- Begin team item -->
							<div class="team-item item-style">
								<div class="team-item-img">
									<img data-src="img/team-img-1.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="team-item-info">
									<h4 class="team-item-title item-title">Mary Lee</h4>
									<div class="team-item-position">Software Developer</div>
									<ul class="team-item-social-links">
										<li>
											<a href="#!" title="Facebook">
												<svg viewBox="0 0 320 512"><use xlink:href="img/sprite.svg#facebook-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Instagram">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#instagram-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="LinkedIn">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#linkedin-in-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Twitter">
												<svg viewBox="0 0 512 512"><use xlink:href="img/sprite.svg#twitter-ico"></use></svg>
											</a>
										</li>
									</ul>
								</div>
							</div><!-- End team item -->
						</div>
						<div class="col-lg-3 col-sm-6 col-12 item">
							<!-- Begin team item -->
							<div class="team-item item-style">
								<div class="team-item-img">
									<img data-src="img/team-img-2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="team-item-info">
									<h4 class="team-item-title item-title">Ryan Wilson</h4>
									<div class="team-item-position">CEO</div>
									<ul class="team-item-social-links">
										<li>
											<a href="#!" title="Facebook">
												<svg viewBox="0 0 320 512"><use xlink:href="img/sprite.svg#facebook-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Instagram">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#instagram-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="LinkedIn">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#linkedin-in-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Twitter">
												<svg viewBox="0 0 512 512"><use xlink:href="img/sprite.svg#twitter-ico"></use></svg>
											</a>
										</li>
									</ul>
								</div>
							</div><!-- End team item -->
						</div>
						<div class="col-lg-3 col-sm-6 col-12 item">
							<!-- Begin team item -->
							<div class="team-item item-style">
								<div class="team-item-img">
									<img data-src="img/team-img-3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="team-item-info">
									<h4 class="team-item-title item-title">Sam Robinson</h4>
									<div class="team-item-position">Senior Developer</div>
									<ul class="team-item-social-links">
										<li>
											<a href="#!" title="Facebook">
												<svg viewBox="0 0 320 512"><use xlink:href="img/sprite.svg#facebook-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Instagram">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#instagram-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="LinkedIn">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#linkedin-in-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Twitter">
												<svg viewBox="0 0 512 512"><use xlink:href="img/sprite.svg#twitter-ico"></use></svg>
											</a>
										</li>
									</ul>
								</div>
							</div><!-- End team item -->
						</div>
						<div class="col-lg-3 col-sm-6 col-12 item">
							<!-- Begin team item -->
							<div class="team-item item-style">
								<div class="team-item-img">
									<img data-src="img/team-img-4.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</div>
								<div class="team-item-info">
									<h4 class="team-item-title item-title">Jill Peterson</h4>
									<div class="team-item-position">Senior Developer</div>
									<ul class="team-item-social-links">
										<li>
											<a href="#!" title="Facebook">
												<svg viewBox="0 0 320 512"><use xlink:href="img/sprite.svg#facebook-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Instagram">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#instagram-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="LinkedIn">
												<svg viewBox="0 0 448 512"><use xlink:href="img/sprite.svg#linkedin-in-ico"></use></svg>
											</a>
										</li>
										<li>
											<a href="#!" title="Twitter">
												<svg viewBox="0 0 512 512"><use xlink:href="img/sprite.svg#twitter-ico"></use></svg>
											</a>
										</li>
									</ul>
								</div>
							</div><!-- End team item -->
						</div>
					</div>
				</div>
			</section><!-- End team -->

			<!-- Begin reviews -->
			<section class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="wrapp-section-title section-title-center">
								<div class="section-subtitle">Reviews from our clients</div>
								<h2 class="section-title">What People Say</h2>
							</div> 
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin reviews item -->
							<div class="reviews-item item-style">
								<div class="reviews-item-header">
									<div class="reviews-item-img">
										<img data-src="img/auth-img-1.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
									</div>
									<div class="reviews-item-info">
										<h4 class="reviews-item-title item-title">Catherine Williams</h4>
										<div class="reviews-item-position">Regular client</div>
									</div>
								</div>
								<div class="reviews-item-text">
									<p>PathSoft offers a high caliber of resources skilled in Microsoft Azure.NET, mobile and Quality Assurance. They became our true business partners over the past three years.</p>
								</div>
							</div><!-- End reviews item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin reviews item -->
							<div class="reviews-item item-style">
								<div class="reviews-item-header">
									<div class="reviews-item-img">
										<img data-src="img/auth-img-2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
									</div>
									<div class="reviews-item-info">
										<h4 class="reviews-item-title item-title">Rupert Wood</h4>
										<div class="reviews-item-position">Regular client</div>
									</div>
								</div>
								<div class="reviews-item-text">
									<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit consequuntur sequi eos beatae deleniti culpa cupiditate rerum. Similique, blanditiis rem perspiciatis fugiat voluptatem quas officiis ducimus reprehenderit.</p>
								</div>
							</div><!-- End reviews item -->
						</div>
						<div class="col-lg-4 col-md-12 col-12 item">
							<!-- Begin reviews item -->
							<div class="reviews-item item-style">
								<div class="reviews-item-header">
									<div class="reviews-item-img">
										<img data-src="img/auth-img-3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
									</div>
									<div class="reviews-item-info">
										<h4 class="reviews-item-title item-title">Samantha Brown</h4>
										<div class="reviews-item-position">Regular client</div>
									</div>
								</div>
								<div class="reviews-item-text">
									<p>We sincerely hope that each and every user entering our website will find exactly. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
								</div>
							</div><!-- End reviews item -->
						</div>
						<div class="col-12">
							<div class="section-btns justify-content-center">
								<a href="testimonials.html" class="btn btn-widht-ico btn-w240 ripple">
									<span>See All Reviews</span>
									<svg class="btn-widht-ico-right" viewBox="0 0 13 9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section><!-- End reviews -->

            {% include sectionnews.html %}

		</div>

		<!-- Begin footer -->
        {% include footer1a.html %}

	</main><!-- End main -->

    {% include scripts2a.html %}

    {% include scripts1a.html %}
	
</body>
</html>